*{font-family: Montserrat, sans-serif;}

/* global navigation */

.navbox{background-color:#467599; display:flex; flex-direction: row; margin:0; padding:0 10%;}
.navitem{list-style: none; padding:10px 20px 10px 0; margin-bottom:0;}
.navitem a{color:#fff; text-decoration:none; box-shadow: none; text-transform: capitalize;} 

/* Secondat banner for promotions */

.secondaryBanner{background-color:#D7E1E9; padding:10px 10%; margin-bottom:10px;}

.fullColumn {width:80%; margin:auto;}

.emdeb-responsive{position:relative; top:-30px;}

.homeRow{display:flex; flex-direction: row; width:100%}
.trendingBox{width:32%; border:1px solid #ccc; margin-right:1%; height:250px; margin-bottom:10px; list-style: none;}
.compareBox{width:16%; border:1px solid #ccc; margin-right:1%; height:150px; margin-bottom:10px; list-style: none;}
